<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrivae</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <img class="logo-simple" src="/templates/images/SimpleLogo1.PNG" alt="Nutrivae Logo" height="100" width="100">
                <span class="logo-text">Nutrivae</span>
            </div>
            <nav class="navbar">
                <a class="link-tabs" href="index.html">Home</a>
                <a class="link-tabs" href="nutrition.html">Food Log</a>
                <a class="link-tabs" href="workouts.html">Workouts</a>
                <a class="link-tabs" href="meal-recommender.html">Meal Recommender</a>
                <a class="link-tabs" href="about-author.html">About</a>
            </nav>
        </header>

        <div class="dashboard-grid">
            <section class="home-page">
                <div class="introducing-header">
                    <h1>Introducing Nutrivae</h1>
                    <h3 class="sub-text">Smart Eating. Smarter Living.</h3>
                </div>

                <div class="all-you-need-header">
                <a href="/templates/nutrition.html">
                    <button class="get-started">Get Started</button>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
