<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrivae</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">Nutrivae</div>
            <div class="user-info">
                <nav class="navbar">
                    <a href="index.html">
                        <span>Home</span>
                    </a>
                    <a href="nutrition.html">
                        <span>Calorie Tracker</span>
                    </a>
                    <a href="workouts.html">
                        <span>Workouts</span>
                    </a>
                    <a href="meal-recommender.html">
                        <span>Meal Recommender</span>
                    </a>
                    <a href="about-author.html">
                        <span>About</span>
                    </a>
                </nav>
            </div>
        </header>
        
        <section class="introducing-header">
            <h1>Introducing Nutrivae</h1>
            <h3>Smart Eating. Smarter Living.</h3>
        </section>

        <section class="all-you-need-header">
            <h4>All you need. All in one place.</h4>
            <button class="get-started">Get Started</button>
        </section>
        </div>
    </div>
</body>
</html>