<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formance | An AI-Powered Fitness & Nutrition Assistant</title>

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header class="header">
        <a href="#" class="title">Formance</a>

        <nav class="navbar">
            <a href="Home">Home</a>
            <a href="Nutrition">Nutrition</a>
            <a href="Workouts">Workouts</a>
            <a href="Project Background">Project Background</a>
            <a href="About Author">About Author</a>
        </nav>
    </header>


    <script src="/static/script.js"></script>
</body>
</html> 