<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formance | An AI-Powered Fitness & Nutrition Assistant</title>

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header class="header">
        <a href="#" class="title">Nutrition with Formance</a>

        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="nutrition.html">Nutrition</a>
            <a href="workouts.html">Workouts</a>
            <a href="project-background.html">Project Background</a>
            <a href="about-author.html">About Author</a>
        </nav>
    </header>

    <section class="nutrition_input">
        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
        </form>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>