<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrivae</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <img class="logo-simple" src="/templates/images/SimpleLogo1.PNG" alt="Nutrivae Logo" height="100" width="100">
                <span class="logo-text">Nutrivae</span>
            </div>
            <nav class="navbar">
                <a href="/templates/index.html">Home</a>
                <a href="/templates/nutrition.html">Food Log</a>
                <a href="/templates/workouts.html">Workouts</a>
                <a href="/templates/meal-recommender.html">Meal Recommender</a>
                <a href="/templates/about-author.html">About</a>
            </nav>
        </header>
    </div>
</body>
</html>